

body{
    background-color: rgb(112, 112, 177);
    box-sizing: border-box;
}

.contain{
    background-color: rgba(218, 218, 218, 0.363);
    border-radius: 0.6rem 0.6rem 0 0;
    border: 1px solid rgba(214, 214, 214, 0.81);
    padding: 2rem 2.5rem 2rem 2.5rem;
    min-height: 794px;
}

.btn {
    border-radius: 50px;
    padding: 5px;
    color:green;
    font-weight: 600;
}

#btn_nav{
    display: flex;
    margin:5px -20px 5px 8px;
    padding-bottom: 5px;
    justify-content: space-between;
}
/* Styles pour le bouton close */
#close {
   background: beige;
    border: 2px solid rgb(169, 169, 164); 
    position: relative;
    width: 30px;
    height: 30px;    
}

#close::before,
#close::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    border-radius: 3px;
    background-color: rgb(197, 10, 10);
   
    transform: translateY(-50%);
}

#close::before {
    transform: rotate(45deg);
    top: 0;
    border: 2px solid grey;
    left: -0.5px;
    top: 10px;
   
}

#close::after {
    transform: rotate(-45deg);
    top: 0;
    border: 2px solid grey;
    left: -0.5px;
    top: 10px;
}

#pagination{
    color: beige;
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.description h1{
    margin: 0;
}

#detail-desc{
    padding-bottom: 20px;
}
#price{
    
    color:rgba(255, 0, 0, 0.515);
    font-weight: 800;
    font-style:  italic small-caps bold 16px/2 cursive;
    font-size: xx-large;
    padding: 20px;
    background-color: aliceblue;
}


/* Styles pour le bouton Contacter le vendeur */


.contact{
    position: absolute; /* Position absolue par rapport à la section parente */
    bottom: 10px; 
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajustement pour centrer correctement */
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #594da4,#721956 , #192a72 80%);
    background-size: 200% 200%; /*plus grand poour l'effet hover*/
    background-position:right;
    transition: all 0,5s;}

.contact:hover{
    background-position:left ;
}

.photo{
    margin:0px 15px 15px 15px  ;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    text-align: center; 
   
}
.list-photo{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0 -5px; /* une marge négative sur les côtés pour compenser les marges internes des li */
}
.list-photo li {
    margin: 0 5px; 
}

.img-small{
    width: 8em;
    max-height: 15vh;
    background-size: cover;
}
.img_one{
    max-width: 30em;
    max-height: 50vh;
    background-size: cover;
}



/* Styles spécifiques aux écrans mobiles */
@media (max-width: 768px) {
    #btn_nav {
        position: fixed;
        top: 0;
        left: 5px;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-around;
       
    }
    .close-button {
        display: flex;
    }

    .contain {
       margin-top: 50px;
        padding: 1rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
    #price, h1, h2{
        text-align: center;
    }
    .description{
        align-items: center;
    }

    .photo {
        align-items: center;
        text-align: center; 
    }

    .list-photo {
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        
    }

    .img-small {
        max-width: 80%;
        max-height: auto;
        background-size: cover;
    }

    .img_one {
        max-width: 80%;
        max-height: auto;
        background-size: cover;
        align-items: center;
    }
    #resume {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    /* Styles pour les boutons précédent et suivant */
  
    #prec,
    #suiv {
        font-size: 0; /* Masquer le texte en mode responsive */
        color: transparent; /* Masquer la couleur du texte */
        background-color: beige; /* Appliquer la couleur de fond */
        padding: 5px 10px; /* Ajuster le rembourrage du bouton */
        border: none; /* Supprimer la bordure */
        border-radius: 5px; /* Ajouter des coins arrondis */
        width: auto; /* Ajuster la largeur automatiquement */
        
    }

    
        /* Styles pour le bouton précédent */
    #prec::before {
        content: "<"; /* Afficher < pour le bouton précédent */
        font-size: 18px; /* Ajuster la taille de l'icône */
        color: black; /* Appliquer la couleur de l'icône */
    }

    /* Styles pour le bouton suivant */
    #suiv::after {
        content: ">"; /* Afficher > pour le bouton suivant */
        font-size: 18px; /* Ajuster la taille de l'icône */
        color: black; /* Appliquer la couleur de l'icône */
    }
    
}



/* TEST FORMULAIRE SCROLL*/
#formulaire{

    height: 400px;
    width: auto;
    background-color: blue;
}