
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style pour le conteneur principal */
.header-contain {
    position: relative;
    width: 100%;
    height: 50vh; /* Un tiers de la hauteur de l'écran */
    ;
    
}

/* Style pour la vidéo en arrière-plan */
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
    filter: saturate(20%);
   
}

#video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour conserver les dimensions de la vidéo */
}

/* Style pour le contenu texte */
.content-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:2rem;
   
}

.description {
    margin-top: 5px;
    padding-bottom: 1rem;
    color: rgb(157, 157, 123);
    font-size: large;
    font-weight: 700;
    background-color: rgba(240, 248, 255, 0.525);
    border-radius:20%;
    margin-bottom: 10px;
}

/* Style pour les boutons et les informations de contact */
.info-garage {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row; /* Mettre les éléments en ligne */
    align-items: center;
    justify-content: center; /* Centrer horizontalement */
    padding-top: 5rem;
    gap: 15rem;
    
}

.hour {
    text-align: left;
    border: 2px double beige;
    flex-grow: 2;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.145);
    
}

/* Style pour l'icône de défilement */
.icon-scroll {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 100%;
}

.icon-scroll a {
    text-decoration: none;
    color: #007bff; 
}

/* Style pour les listes à puces des horaires */
.hour ul {
    list-style: none;
    padding: 0;
}

.hour ul li {
    margin: 5px 0;
}

/* Style pour les boutons du main video */
.btn-tel, .btn-contact{
    padding:40px;
    border-radius: 30%;
    font-size: large;
}

@media screen and (max-width:768px){
    .header-contain {
        height: 90vh;
        width: auto;
        padding-bottom: 56.25% ; /* Ratio 16:9 pour la vidéo (9 / 16 * 100) */
    }
    .title-first{
        font-size: 25px top 10;
      
    }
    .description {
        font-size: small;
        width: 350px;
        top:150px;
        margin: 15px;
        border-radius:10%;
       
    }
    .info-garage{
        padding: 5px;
        grid-template-columns:auto 60% auto ;
        flex-wrap: wrap;
        display: grid;
        margin-top: 50px;
        gap: 5px;
    }
    .hour{
      
       font-size: small;
    
    }
    .btn-tel, .btn-contact{
        padding:20px;
        border-radius: 30%;
        font-size: small;
       
    }
    .icon-scroll {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        border-radius: 0%;
    }
}